name: Deploy App A

on:
  workflow_dispatch:

jobs:
  package-overlay:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout overlay
        uses: actions/checkout@v4

      - name: Upload overlay artifacts
        uses: actions/upload-artifact@v4
        with:
          name: overlay-artifacts
          path: |
            inventory
            playbooks/apptest.yml

  execute-underlay:
    needs: package-overlay
    uses: Devagar-BA/Ansible-underlay/.github/workflows/run-underlay.yml@main
    with:
      playbook: playbooks/apptest.yml
      inventory: inventory/dev/hosts
      extra_vars: wl_version=14c
      
      
